html, body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.horizontal-scroll-slider{
    background: #f2f2f3;
    height: 100vh;
}

.horizontal-scroll-slider h2{
    padding: 40px 10px;
    font-size: 80px;
    text-align: center;
}

.horizontal-scroll-slider .slides{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.horizontal-scroll-slider .slides .slide{
    width: 300px;
    height: 400px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #ffffff;
}

.horizontal-scroll-slider .text{
    width: 5000px;
    font-size: 40px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    background-color: #ffffff;
}